<!DOCTYPE html>
<html>
<head>
  <title>Autograding System</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link href= "{{ url_for('static', filename = 'css/mysite.css') }}"
      rel="stylesheet"
      type="text/css"/>
    {% block head %}

    {% endblock %}
</head>

<body>
  <div id = "header" class ="header">
    <ul class ="head">
      <li class = "list1"><a href= "{{ url_for('index')}}"> AutoGrading</a></li>
      <li class = "list1"><a href="#news"> Features </a></li>
      <li class = "list1"><a href="#news"> Demo </a></li>
      <li class = "list1"><a href="{{ url_for('grading')}}"> Grading </a></li>
    </ul>
  </div>
    {% block body %}
        <h1>这个标题在双亲模板中定义</h1>
    {% endblock %}

</body>
